body{
    font-family: "Lato", sans-serif;
    background-color: white;
}

.panel-necesidad{
    padding: 40px;
}
.titulo h1{
    font-size: 34px; 
    margin: 16px 0px;
    padding: 40px;
    text-align: center;
    color: #071e40;
}
.necesidad{
    justify-content: space-evenly;
    display: flex;
    margin: 16px 0px;
}
.necesidad img{
    width: 397px;
    height: 397px;
}

.necesidad p{
    font-size: 17px;
}
.cuerpo{
    width: 40%;
    align-self: center;
}
.titulo-cuerpo h1{
    font-size: 24px;
    color: #071e40;
    text-align: left;
}
.descripcion p{
    font-size: 17px;
    margin: 16px 0px;
    color: #242424;
}

.enlace a{
    color: blueviolet;
    text-decoration: underline blueviolet;
}
@media only screen and (max-width:1024px){
    .necesidad{
        display: block;
    }
    .img{
        text-align: center;
        margin-bottom: 16px;
    }
    .cuerpo{
        width: 100%;
    }
}
@media only screen and (max-width:540px){
    .necesidad img{
        width: 247px;
        height: 247px;
    }
}